@model PodoDemo.Models.Account

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Accountid" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Homepage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Homepage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ceo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ceo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Addresscity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Addresscity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Addressdetail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Addressdetail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Addresstype)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Addresstype)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Biznum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Biznum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Founddate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Founddate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Createdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Createdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Createuser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Createuser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modifydate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modifydate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modifyuser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modifyuser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Isdeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Isdeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ownerid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ownerid)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
