@model PodoDemo.Models.Account

@{
    ViewData["Title"] = "거래처";
}

<script type="text/javascript">
    $(document).ready(function () {
        SetBasicElement();// 기본적으로 그리는 화면 내용
        // 부서값 / 적용할 HTML코드 ID / 콜백함수 / 기본 선택 값 / 전체 / 맨위값 빈값 / 권한
        GetUserDDL('1-1', '@Model.Ownerid', 'Ownerid', SetoptionTag, '@Model.Ownerid', false, false, false);
    });

    // 기본적으로 그리는 화면 내용
    function SetBasicElement() {
        $("#jqdatetimeinput_founddate")
            .jqxDateTimeInput({ width: '100%', formatString: 'yyyy-MM-dd' })
            .jqxDateTimeInput('setDate', new Date("@Html.Raw(Model.Founddate)"));
    }

    // 폼이 입력될 때
    function SubmitForm() {
        // 유효성 검사 후 진행
        if (ValidateForm()) {
            $("#Founddate").val($('#jqdatetimeinput_founddate').jqxDateTimeInput('getText'));
            $("#Detail").val($("#tempDetail").html());
            $("#AccountEditForm").submit();
        }
    }

    // 입력한 값들에 대한 유효성 검사
    function ValidateForm() {
        var nameValue = $("#Name").val();
        var phoneValue = $("#Phone").val();
        var faxValue = $("#Fax").val();
        var homepageValue = $("#Homepage").val();
        var ceoValue = $("#Ceo").val();
        var biznumValue = $("#Biznum").val();
        var founddateValue = $("#jqdatetimeinput_founddate").jqxDateTimeInput('getText');
        var detailValue = $("#Detail").val();

        if (nameValue == "") {
            alert("거래처 이름을 입력해주세요.");
            return false;
        }

        if (phoneValue != "") {
            if (!IsPhoneType(phoneValue)) {
                alert("전화번호 형식을 00-000-0000 형식으로\n올바르게 입력해주세요.");
                return false;
            }
        }

        if (faxValue != "") {
            if (!IsPhoneType(faxValue)) {
                alert("팩스 형식을 00-000-0000 형식으로\n올바르게 입력해주세요.");
                return false;
            }
        }

        if (biznumValue != "") {
            if (!IsBizNumType(biznumValue)) {
                alert("사업자번호를 올바르게 입력해주세요.");
                return false;
            }
        }

        if (founddateValue != "") {
            if (!IsDateType(founddateValue)) {
                alert("날짜 형식을 올바르게 입력해주세요.");
                return false;
            }
        }

        return true;
    }
</script>
<div class="View">
    <div class="container custom-container">
        <div class="row">
            <div class="col-md-12 custom-header">
                <p class="text-left">거래처 정보</p>
            </div>
        </div>

        <div class="col-md-12">
            <div class="custom-title">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                <span>기본 정보</span>
                <hr />
            </div>
        </div>

        <form class="form-horizontal" id="AccountEditForm" action="/Accounts/Edit/@Model.Accountid" method="post">
            <input type="hidden" id="Accountid" name="Accountid" value="@Model.Accountid" />
            <input type="hidden" asp-for="Createdate" value="@Model.Createdate" />
            <input type="hidden" id="Createuser" name="Createuser" value="@Model.Createuser" />
            <input type="hidden" id="Modifydate" name="Modifydate" value="@Model.Modifydate" />
            <input type="hidden" id="Modifyuser" name="Modifyuser" value="@Model.Modifyuser" />

            <div class="form-group">
                <label class="col-md-1 control-label requireField">회사명</label>
                <div class="col-md-3">
                    <input type="text" id="Name" name="Name" class="form-control" value="@Model.Name" placeholder="거래처 이름" />
                </div>

                <label class="col-md-1 control-label requireField">전화번호</label>
                <div class="col-md-3">
                    <input type="tel" id="Phone" name="Phone" class="form-control" value="@Model.Phone" placeholder="전화번호[00-000-0000]" />
                </div>
                <label class="col-md-1 control-label">설립일</label>
                <div class="col-md-3">
                    <div id="jqdatetimeinput_founddate"></div>
                    <input type="hidden" id="Founddate" name="Founddate" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-1 control-label">FAX</label>
                <div class="col-md-3">
                    <input type="tel" id="Fax" name="Fax" class="form-control" value="@Model.Fax" placeholder="팩스[00-000-0000]" />
                </div>

                <label class="col-md-1 control-label requireField">CEO</label>
                <div class="col-md-3">
                    <input type="text" id="Ceo" name="Ceo" class="form-control" value="@Model.Ceo" placeholder="대표/사장 성함" />
                </div>
                <label class="col-md-1 control-label">홈페이지</label>
                <div class="col-md-3">
                    <input type="text" id="Homepage" name="Homepage" class="form-control" value="@Model.Homepage" placeholder="홈페이지 주소" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-1 control-label">사업자번호</label>
                <div class="col-md-3">
                    <input type="text" id="Biznum" name="Biznum" class="form-control" value="@Model.Biznum" placeholder="사업자번호" />
                </div>

                <label class="col-md-1 control-label">담당자</label>
                <div class="col-md-3">
                    <select id="Ownerid" name="Ownerid" class="form-control"></select>
                </div>
            </div>

            <div class="form-group">

            </div>

            <div class="form-group">
                <label class="col-md-1 control-label">비고</label>
                <div class="col-md-11">
                    <textarea class="form-control" id="tempDetail" name="tempDetail" rows="3">@Model.Detail</textarea>
                    <input type="hidden" id="Detail" name="Detail" />
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-offset-6 col-md-2 custom-row-btn-margin">
                <button type="button" id="EditButton" class="btn btn-default" onclick="SubmitForm();">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    저장
                </button>
            </div>
            <div class="col-md-2 custom-row-btn-margin">
                <button type="button" id="DeleteButton" class="btn btn-default btn-danger">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    삭제
                </button>
            </div>
            <div class="col-md-2 custom-row-btn-margin">
                <a href="/Accounts/Index" class="btn btn-default">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    목록
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="custom-title">
                    <hr />
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    <span>이력정보</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <p class="text-nowrap">생성일</p>
            </div>
            <div class="col-md-2">
                <p class="text-nowrap">@Model.Createdate.ToString("yyyy-MM-dd")</p>
                
            </div>
            <div class="col-md-1">
                <p class="text-nowrap">생성자</p>
            </div>
            <div class="col-md-2">
                <p class="text-nowrap">@Model.Createuser</p>
                
            </div>
            <div class="col-md-1">
                <p class="text-nowrap">수정일</p>
            </div>
            <div class="col-md-2">
                <p class="text-nowrap">@Model.Modifydate.ToString("yyyy-MM-dd")</p>
                
            </div>
            <div class="col-md-1">
                <p class="text-nowrap">수정자</p>
            </div>
            <div class="col-md-2">
                <p class="text-nowrap">@Model.Modifyuser</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="custom-title">
                    <hr />
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    <span>연결된 연락처</span>
                </div>
                <div id="contactList"></div>
            </div>
        </div>
    </div>
</div>
