@model PodoDemo.Models.Product

@{
    ViewData["Title"] = "제품";
}

<script src="~/Views/Prices/IndexGrid.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        SetBasicElement();// 기본적으로 그리는 화면 내용

        // 연결된 가격표 정보
        $('#priceList').on('rowdoubleclick', function (event) {
            var args = event.args;
            // row's bound index.
            var boundIndex = args.rowindex;
            // row's visible index.
            var visibleIndex = args.visibleindex;
            // right click.
            var rightclick = args.rightclick;
            // original event.
            var ev = args.originalEvent;
            var data = $('#priceList').jqxGrid('getrowdata', boundIndex);
            location.href = "/Prices/Edit/" + data.Priceid;
        });
    });

    // 기본적으로 그리는 화면 내용
    function SetBasicElement() {
        // 검색 조건 키 / 적용할 HTML코드 ID / 콜백함수 / 기본 선택 값 / 전체 / 맨위값 빈값 / 권
        GetOptionDDL('6', 'Maker', SetoptionTag, '@Model.Maker', true, false, false);
        GetOptionDDL('7', 'Origin', SetoptionTag, '@Model.Origin', true, false, false);
        // 부서값 / 적용할 HTML코드 ID / 콜백함수 / 기본 선택 값 / 전체 / 맨위값 빈값 / 권한
        GetUserDDL("", '@Model.Ownerid', 'Ownerid', SetoptionTag, '@Model.Ownerid', false, false, false);
        SetPricesIndex(@Html.Raw(ViewData["connctedPriceList"]));// 연결된 가격표 표시
    }

    // 폼이 입력될 때
    function SubmitForm(targetName) {
        if (targetName == "Edit") {
            // 유효성 검사 후 진행
            if (ValidateForm()) {
                $("#ProductCreateForm").prop("action", "/Products/" + targetName + "/@Model.Productid");
                $("#ProductCreateForm").submit();
            }
        } else if (targetName == "Delete") {
            if (confirm("해당 내용을 정말로 삭제하시겠습니까?\n삭제후에는 복원되지 않습니다.")) {
                if ($("#Productid").val() != "" && $("#Productid").val() != null) {
                    $("#ProductCreateForm").prop("action", "/Products/" + targetName + "/@Model.Productid");
                    $("#ProductCreateForm").submit();
                } else {
                    alert("삭제할 내용이 없습니다.");
                    return;
                }
            }
        }
    }

    // 입력한 값들에 대한 유효성 검사
    function ValidateForm() {
        var nameValue = $("#Name").val();

        if (nameValue == "") {
            alert("제품 이름을 입력해주세요.");
            return false;
        }

        return true;
    }
</script>

<div class="View">
    <div class="container custom-container">
        <div class="row">
            <div class="col-md-12 custom-header">
                <p class="text-left">제품 정보</p>
            </div>
        </div>

        <div class="col-md-12">
            <div class="custom-title">
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                <span>기본 정보</span>
                <hr />
            </div>
        </div>

        <form class="form-horizontal" id="ProductCreateForm" action="/Products/Create" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" id="Productid" name="Productid" value="@Model.Productid" />
            <input type="hidden" id="Createdate" name="Createdate" value="@Model.Createdate" />
            <input type="hidden" id="Createuser" name="Createuser" value="@Model.Createuser" />
            <input type="hidden" id="Modifydate" name="Modifydate" value="@Model.Modifydate" />
            <input type="hidden" id="Modifyuser" name="Modifyuser" value="@Model.Modifyuser" />

            <div class="form-group">
                <label class="col-md-1 control-label requireField">제품이름</label>
                <div class="col-md-3">
                    <input type="text" id="Name" name="Name" class="form-control" value="@Model.Name" placeholder="제품 이름" />
                </div>
                <label class="col-md-1 control-label">제조국</label>
                <div class="col-md-3">
                    <select id="Origin" name="Origin" class="form-control"></select>
                </div>
                <label class="col-md-1 control-label">제조사</label>
                <div class="col-md-3">
                    <select id="Maker" name="Maker" class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label">제품코드</label>
                <div class="col-md-11">
                    <input type="tel" id="Productcode" name="Productcode" class="form-control" value="@Model.Productcode" placeholder="제품 코드" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label">담당자</label>
                <div class="col-md-3">
                    <select id="Ownerid" name="Ownerid" class="form-control"></select>
                </div>
            </div>
        </form>

        <div class="row">
            @if (ViewData["Modify"].ToString().Equals("4-1") || ViewData["Modify"].ToString().Equals("4-2"))
            {
                <div class="col-md-2 custom-row-btn-margin">
                    <button type="button" id="EditButton" class="btn btn-default" onclick="SubmitForm('Edit');">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                        저장
                    </button>
                </div>

            }
            @if (ViewData["Delete"].ToString().Equals("4-1") || ViewData["Delete"].ToString().Equals("4-2"))
            {
                <div class="col-md-2 custom-row-btn-margin">
                    <button type="button" id="DeleteButton" class="btn btn-default btn-danger" onclick="SubmitForm('Delete');">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        삭제
                    </button>
                </div>
            }

            <div class="col-md-2 custom-row-btn-margin">
                <a href="/Products/Index" class="btn btn-default">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    목록
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="custom-title">
                    <hr />
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    <span>이력정보</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>생성일</th>
                            <th>생성자</th>
                            <th>수정일</th>
                            <th>수정자</th>
                        </tr>
                    </thead>
                    <tr class="info">
                        <td><strong>@Model.Createdate</strong></td>
                        <td><strong>@Model.Createuser</strong></td>
                        <td><strong>@Model.Modifydate</strong></td>
                        <td><strong>@Model.Modifyuser</strong></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="custom-title">
                    <hr />
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    <span>연결된 가격표</span>
                </div>
                <div id="priceList"></div>
            </div>
        </div>

    </div>
</div>