@model IEnumerable<PodoDemo.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Pw)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Engname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mobile)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ismaster)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Token)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Keybox)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Excelauth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Level)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Createdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Createuser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modifydate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Modifyuser)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pw)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ismaster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Token)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keybox)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Excelauth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createuser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modifydate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modifyuser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentNavigation.Optionid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
