@model PodoDemo.Models.Contact

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Detail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Detail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bossid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bossid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Createdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Createdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Createuser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Createuser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modifydate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modifydate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modifyuser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modifyuser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Isdeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Isdeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ownerid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ownerid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.Biznum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Contactid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
